body {
    font-family: 'Roboto', sans-serif;
    background: #4A6087;
    margin: 0;
    padding: 20px;
    font-weight: bold;
}

.app {
    max-width: 420px;
    margin: auto;
    background: #CAD3E2;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(42, 7, 121, .8);
    font-weight: bold;
}

h1 {
    text-align: center;
}

.rates {
    max-width: 360px;
    margin: 0 auto;
}

.rate-row {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 16px;
    justify-content: center;

}

.rate-row input {
    width: 120px;
    padding: 6px 8px;
    font-size: 24px;
    text-align: center;
}

input,
select {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #8EC5FF;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 10px 10px rgba(54, 64, 94, .9);
    transition: box-shadow 0.25s ease, border-color 0.25s ease, background-color 0.3s ease;
}

input:focus,
select:focus {
    border-color: #36545E;
    background-color: #D5D9E7;
    box-shadow: inset 0 0 8px rgba(54, 64, 94, 0.65),
        inset 0 2px 4px rgba(0, 0, 0, 0.75),
        0 0 12px rgba(0, 123, 255, 0.25);
    transform: scale(1.02);
}

.label {
    color: #232222;
    font-size: 24px;
    font-weight: bold;
}


input {
    max-width: 90%;
}

.title {
    background: #5B76A4;
    color: #DFF2FE;
    border: none;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    max-width: 320px;
    margin: 15px auto;
    box-shadow: 0 10px 10px rgba(54, 64, 94, .9);
}

.title:hover {
    cursor: pointer;
    box-shadow: 0 12px 14px rgba(54, 64, 94, 1);
    transform: translateY(-2px);
}

.convert {
    max-width: 360px;
    margin: 0 auto;
}

.amount-row {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
}

.amount-row input {
    flex: 1;
    width: 120px;
    padding: 8px;
    font-size: 24px;
}

.amount-row select {
    padding: 8px;
    font-size: 24px;

}

.results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    max-width: 360px;
    margin: 24px auto;
}

.results p {
    margin: 0;
    padding: 14px 12px;
    background: #CDCAE2;
    border-radius: 12px;
    text-align: center;
    font-weight: 600;
    box-shadow: 0 10px 20px rgba(26, 35, 50, 0.8);
}

.results span {
    display: block;
    margin-top: 6px;
    font-size: 1.4rem;
    font-weight: 700;
}

.footer {
    background-color: #CDCAE2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(26, 35, 50, 0.8);
    width: 220px;
    margin: 15px auto;
    text-align: center;
}

.footer p {
    margin: 5px 0;
    font-size: 18px;
    color: #333;
}

.logo {
    width: 24px;
    height: auto;
    vertical-align: middle;
    margin-right: 8px;
}